.form-group1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



// .page {
//   color: white;
//   padding: 0 1rem;
//   background: #f1f5f9;
//   &__box {
//     min-height: 120px;
//     background: #1e293b;
//     margin: 0 -1rem;
//     font-size: 36px;
//   }
//   &__content {
//     min-height: calc(100vh - 178px);
//     //border-radius: 50px;
//     margin-top: 1rem;
//     background: white;
//     color: black;
//     font-size: 1rem;
//     &-data {
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }
//   }
// }


// /*
//  * This padding sets alignment of the nested nodes.
//  */
// /*
//  * Padding for leaf nodes.
//  * Leaf nodes need to have padding so as to align with other non-leaf nodes
//  * under the same parent.
//  */
//  .example-tree-invisible {
// 	display: none;
// }
// tr {
//   color: red;
// }
// .example-tree {
// 	ul {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 		list-style-type: none;
// 	}
// 	li {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 		list-style-type: none;
// 	}
//   tr {
//     color: red($color: #000000);
//   }
// 	.mat-nested-tree-node {
// 		div[role=group] {
// 			padding-left: 40px;
// 		}
// 	}
// 	div[role=group] {
// 		>.mat-tree-node {
// 			padding-left: 40px;
// 		}
// 	}
// }
// table {
// 	width: 100%;
// }
// tr.example-detail-row {
// 	height: 0;
// }
// tr.example-element-row {
// 	&:not(.example-expanded-row) {
// 		&:hover {
// 			background: whitesmoke;
// 		}
// 		&:active {
// 			background: #efefef;
// 		}
// 	}
// }
// .example-element-row {
// 	td {
// 		border-bottom-width: 0;
// 	}
// }
// .example-element-detail {
// 	overflow: hidden;
// 	display: flex;
// }
// .example-element-diagram {
// 	min-width: 80px;
// 	border: 2px solid black;
// 	padding: 8px;
// 	font-weight: lighter;
// 	margin: 8px 0;
// 	height: 104px;
// }
// .example-element-symbol {
// 	font-weight: bold;
// 	font-size: 40px;
// 	line-height: normal;
// }
// .example-element-description {
// 	padding: 16px;
// }
// .example-element-description-attribution {
// 	opacity: 0.5;
// }
