.card-body {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group1, .form-group2, .form-group3, .form-group4 {
  display: inline-block;
  margin-right: 1rem;
}

.form-group5, .form-group6, .form-group7, .form-group8, .form-group9 {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .card-body {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-group1, .form-group2, .form-group3, .form-group4 {
    margin-right: 1rem;
  }

  .form-group5, .form-group6, .form-group7, .form-group8, .form-group9 {
    margin-top: 0;
  }
}


.form-group10 {
  flex-basis: 100%;
  margin-top: 1rem;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
