.page {
  color: rgb(0, 0, 0);
  padding: 0 1rem;
  background: #d9d9d9;
  &__box {
    min-height: 120px;
    background: #8e9cb1;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    //border-radius: 50px;
    margin-top: 1rem;
    background: white;
    color: black;
    font-size: 1rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .container {
    padding: 10px 10px;
    margin-top: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  // span.edit:hover{
  //   color:aqua;
  //   transform: scale(1.5);
  // }

  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }

}
