<div class="row justify-content-center">
  <div class="register-order">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Order</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputTitle">Title</label>
            <input class="form-control" type="text" formControlName="title">
            <div class="invalid-feedback" *ngIf="submitted && myForm.title.errors?.required">
              Title is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputEtr_type">ETR Type</label>
            <input class="form-control" type="text" formControlName="etr_type">
            <div class="invalid-feedback" *ngIf="submitted && myForm.etr_type.errors?.required">
              ETR Type is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputDescription">Description</label>
            <input class="form-control" type="text" formControlName="description">
            <div class="invalid-feedback" *ngIf="submitted && myForm.description.errors?.required">
              Description is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3">Status</label>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
              formControlName="status">
              <option value="">Choose...</option>
              <option *ngFor="let orderProfile of OrderProfile" value="{{orderProfile}}">{{orderProfile}}
              </option>
            </select>
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.status.errors?.required">
              Choose status.
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div><!-- form  -->
  </div>
  <app-ticket-info [comment]="ticketComments"></app-ticket-info>
</div>
